<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello ssr</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.4.0.0-beta.2.css" />
    <link rel="stylesheet" href="/public/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="/public/css/spdcms.css" />
    <script src="/public/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/public/js/promise.min.js"></script>
    <script type="text/javascript" src="/public/js/fetch.min.js"></script>
    <script type="text/javascript" src="/public/js/common.js"></script>

    <script type="text/javascript" src="/public/js/popper.1.11.0.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.4.0.0-beta.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/public/js/locales/bootstrap-datepicker.zh-CN.min.js"></script>

  </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>
</html>
